.slider {
  height: 10px;
  margin: 4px 8px 14px 8px;
}

.slider .noUi-connect {
  background: #1badcf;
}

.slider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.slider .noUi-handle:before,
.slider .noUi-handle:after {
  display: none;
}

.filter-block {
  margin-bottom: 10px;
}

.catalog-filter-btn {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;

  &--desc {
    display: none;
  }
}

.catalog-clear-all {
  position: relative;
  display: flex;
  justify-content: end;
  color: #1badcf !important;
  font-size: 1.2em;
  /*text-decoration: unset;*/
  padding: 0 20px 10px 20px;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}

.catalog-btn {
  position: relative;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #1badcf;
  transform: rotate(0deg);
  /*transition: all 0.1s ease;*/

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 5px;
    left: 5px;
    background-image: url("../../legacy/img/design/icon-filter.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.catalog-filter {
  background-color: #e6e9ed;
}

.tf-filter__desc {
  display: none;
}

.tf-filter-group {
  border-bottom: 1px solid #fff;

  &:hover {
    background-color: #ccd1d9;
  }
}

.panel {
  padding: 10px 20px;
  &.collapsed {
    .panel-title::before {
      transform: rotate(0deg);
    }
    .panel-body,
    .show-all {
      display: none;
    }
  }
}

.panel-head {
  color: #464637 !important;
  text-decoration: unset;
}

.several-items-are-showed {
  .panel-body {
    max-height: 280px;
  }
  .show-all {
    display: block;
  }
}

.panel-body {
  margin-bottom: 0;
  margin-top: 15px;
  overflow: hidden;
  &--age {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7px;
  }
}

.panel-body__item {
  position: relative;
  margin-bottom: 8px;
  height: 20px;
}

.panel-price-input {
  display: block;
  line-height: 16px;
  width: 100%;
  padding: 10px 5px;
  margin: 0 0 5px;
  color: #646457;
  transition: all 0.1s ease;
  border: 1px solid #1badcf;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 7px #e6e9ed inset;
}

.panel-price-inputs {
  display: flex;
}

.panel-price-input__item:not(:last-child) {
  margin-right: 10px;
}

.panel-title {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  padding-right: 15px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    right: 0;
    top: 9px;
    background-image: url("../../legacy/img/design/arrow.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(180deg);
  }
}

.show-all {
  display: none;
  position: relative;
  width: 120px;
  margin: 0;
  padding: 0 15px;
  background-color: #aab2bd;
  color: #fff;
  font-size: 13px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
  border-radius: 3px;
  /*transition: all 0.1s ease;*/

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 8px;
    right: 7px;
    top: 11px;
    background-image: url("../../legacy/img/design/arrow-all.svg");
    background-repeat: no-repeat;
  }
}

.check-input {
  opacity: 0;
}

.panel-label {
  padding: 0 0 0 28px;
  font-size: 15px;
  line-height: 20px;
  color: #434a54;
  cursor: pointer;
}

.check {
  position: relative;
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #646457;
  margin: 0;
  cursor: pointer;
}

.check-order {
  padding-right: 50px;
}

.check-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-box {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-left: -28px;
  border: 1px solid #1badcf;
  background-color: #fff;
  cursor: pointer;
}

.check-input:checked + .check-box {
  width: 17px;
  height: 17px;
  background-color: #1badcf;
  background-image: url("../../legacy/img/design/checked.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: -1px -1px;
  border: none;
}

.check-input:focus + .check-box {
  border: 1px solid #1badcf;
}

.check-input:checked:focus + .check-box {
  border: none;
}

.check-input:disabled + .check-box {
  opacity: 0.5;
}

.check-confident {
  font-size: 15px;
  line-height: 129.7%;
  color: #171717;
  padding-right: 0;
  padding-top: 0;
}

.sorting-desc {
  display: none;
}

.select {
  position: relative;
  width: 185px;
  height: 32px;
  margin: 0 0 10px 0;
  overflow-x: unset !important;

  &.open {
    .select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    .select__content {
      display: block;
    }
    .select__label + .select__input + .select__label {
      font-family: "Roboto Slab", serif;
      font-size: 12px;
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.select__title {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #858585ff;
  border-radius: 3px;
  border: solid 1px #1badcf;
  overflow-x: unset;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    /*transition: all 0.3s ease-out;*/
    background-color: #1badcf;
    transform: translate(-3px, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}

.select__content {
  position: absolute;
  top: 36px;
  left: 0;
  /*display: flex;*/
  /*flex-direction: column;*/
  width: calc(100% - 2px);
  background-color: #ffffff;
  border: 1px solid #1badcf;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /*transition: all 0.3s ease-out;*/
  display: none;
  z-index: 1000;
}

.select__input {
  display: none;

  &:checked + label {
    background-color: #1badcf;
    color: #fff;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select__label {
  height: 40px;
  /*max-height: 0;*/
  /*transition: all 0.2s ease-out;*/
  cursor: pointer;
  overflow: hidden;

  & + input + & {
    border-top: 0 solid #c7ccd160;
  }

  &:hover {
    background-color: #1badcf;
    color: #fff !important;
  }

  &:focus {
    background-color: #1badcf;
    color: #fff !important;
  }
}

.select__link {
  display: block;
  padding: 10px 16px;
  color: #646457 !important;

  &:hover {
    text-decoration: none !important;
    color: #fff !important;
  }

  &:focus {
    text-decoration: none !important;
    color: #fff !important;
  }
}

.catalog-filter__block-mobile {
  &.collapsed {
    .catalog-btn {
      background-color: #858585;
      transform: rotate(90deg);
      /*transition: all 0.1s ease;*/
    }
    .tf-filter {
      display: none;
    }
  }
}

@media (min-width: 989px) {
  .catalog-filter__block {
    display: block;
  }

  .catalog-filter__block-mobile {
    display: none;
  }

  .catalog-btn {
    display: none;
  }

  .catalog-filter-btn {
    justify-content: start;
  }

  .sorting-desc {
    display: flex;
    align-items: baseline;
  }

  .sorting__title {
    font-size: 12px !important;
    margin-right: 10px;
  }

  .sorting__list {
    display: flex;
    align-items: center;
  }

  .sorting__item {
    font-size: 12px;
    margin: 0 10px 0 0;
    padding: 6px 20px;
    color: #646457;
    border: 1px solid #e6e9ed;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border-color: #ccd1d9;
    }
  }

  .sorting__item.active {
    background-color: #1badcf;
    color: #fff;
  }

  .search .btn {
    position: absolute;
    right: 0;
  }

  .search .input-group {
    height: 30px;
  }
}

.panel-body {
  .panel-body__item {
    label::after {
      content: attr(data-cnt);
      padding: 0 0 0 5px;
      color: #1badcf;
      font-weight: lighter;
      font-size: 9px;
      line-height: 9px;
      white-space: nowrap;
      vertical-align: top;
    }
  }
}
