<!-- category/bc.html start -->
<div itemscope itemtype="https://schema.org/BreadcrumbList">
  <div id="nav_breadcrmbs2">
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/" title="Главная" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
      <span class="-bc-delim">&gt;</span>
      <meta itemprop="position" content="1" />
    </div>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/igrushki" title="Наши игрушки" itemprop="item">
        <span itemprop="name">Наши игрушки</span>
      </a>
      <span class="-bc-delim">&gt;</span>
      <meta itemprop="position" content="2" />
    </div>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/syuzhetno-rolevye-igry" title="Сюжетно-ролевые игры" itemprop="item">
        <strong itemprop="name">Сюжетно-ролевые игры</strong>
      </a>
      <meta itemprop="position" content="3" />
    </div>
  </div>
</div>
<!-- category/bc.html finish -->
