<!-- category/filter-mob.html start -->
<div class="catalog-filter-block catalog-filter__block-mobile">
  <div class="catalog-filter-btn">
    <button class="btn catalog-btn" type="button">
    </button>
    <div class="custom-control select">
      <div class="select__title">По популярности</div>
      <ul class="select__content">
        <li class="select__label"><a href="#one">По популярности</a></li>
        <li class="select__label"><a href="#two">Сначала дорогие</a></li>
        <li class="select__label"><a href="#three">Сначала недорогие</a></li>
      </ul>
    </div>
  </div>
  <div class="tf-filter">
    ${require('./filter-common.html')}
  </div>
</div>

<!-- category/filter-mob.html finish -->
