  <div class="catalog-filter filter-block">
    <ol class="panel-group">
      <li class="panel panel-default tf-filter-group" id="tf-filter-group1" data-o-collapsed="false">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="panel-head">Цена, ₽</div>
          </div>
        </div>
        <div class="panel-body panel-price-slider">
          <div class="slider"></div>
          <ul class="panel-price-inputs">
            <li class="panel-price-input__item">
              <label class="panel-price-label">
                <input class="panel-price-input" type="text" name="tf_fp[min]" min="105" max="16919"
                  value="105" data-raw-value="105" placeholder="">
              </label>
            </li>
            <li class="panel-price-input__item">
              <label class="panel-price-label">
                <input class="panel-price-input" type="text" name="tf_fp[max]" min="106"
                  max="16920" value="16920" data-raw-value="16920" placeholder="">
              </label>
            </li>
          </ul>
        </div>
      </li>
      <li class="panel panel-default tf-filter-group several-items-are-showed" id="tf-filter-group2" data-o-collapsed="false">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="panel-head">Бренд</div>
          </div>
        </div>
        <ul class="panel-body">
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox check-input__all-variants" type="checkbox" checked />
              <span class="check-box"></span>
              Все варианты
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="31">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="1062" />
              <span class="check-box"></span>
              Tooky Toy
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="25">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="957" />
              <span class="check-box"></span>
              Mary Poppins
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="18">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="1076" />
              <span class="check-box"></span>
              Hape
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="11">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="913" />
              <span class="check-box"></span>
              SmileDecor
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="9">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="904" />
              <span class="check-box"></span>
              Нескучные игры
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="9">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="909" />
              <span class="check-box"></span>
              Bondibon
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="8">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="918" />
              <span class="check-box"></span>
              Djeco
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="7">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="1055" />
              <span class="check-box"></span>
              Весна-Дизайн
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="6">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="938" />
              <span class="check-box"></span>
              Десятое королевство
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="5">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="1014" />
              <span class="check-box"></span>
              Полесье
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label" data-cnt="5">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_fm" value="1053" />
              <span class="check-box"></span>
              Огонек
            </label>
          </li>
        </ul>
        <div class="show-all">Показать ещё 2</div>
      </li>
      <li class="panel panel-default tf-filter-group collapsed" id="tf-filter-group3" data-o-collapsed="true">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="panel-head">Возраст</div>
          </div>
        </div>
        <ul class="panel-body panel-body--age">
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input check-input__all-variants panel-checkbox" type="checkbox" checked />
              <span class="check-box"></span>
              Любой
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="62" />
              <span class="check-box"></span>
              0 мес
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="57" />
              <span class="check-box"></span>
              6 мес
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="59" />
              <span class="check-box"></span>
              1 год
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="65" />
              <span class="check-box"></span>
              2 года
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="60" />
              <span class="check-box"></span>
              3 года
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="55" />
              <span class="check-box"></span>
              4 года
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="58" />
              <span class="check-box"></span>
              5 лет
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="56" />
              <span class="check-box"></span>
              6 лет
            </label>
          </li>
          <li class="panel-body__item">
            <label class="check panel-label">
              <input class="check-input panel-checkbox" type="checkbox" name="tf_ff" value="63" />
              <span class="check-box"></span>
              7 лет
            </label>
          </li>
        </ul>
        <div class="show-all">Показать ещё XX</div>
      </li>
    </ol>
  </div>
  <div class="catalog-clear">
    <a class="catalog-clear-all tf-filter-reset active" href="javascript:void(0);">Сбросить</a>
  </div>
