
<!-- category/pagination.html start -->
<style>
    .pagination li.disabled a {
        color: #777 !important;
        border-color: #ddd !important;
        cursor: not-allowed;
    }
</style>
<nav aria-label="navigation">
  <ul class="pagination">
    <li class="disabled">
      <a href="javascript:void(0)" aria-label="previous">
        <
      </a>
    </li>
    <li class=" active">
      <a href="javascript:void(0)" aria-label="next">
        1
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=2" aria-label="next">
        2
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=3" aria-label="next">
        3
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=4" aria-label="next">
        4
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=5" aria-label="next">
        5
      </a>
    </li>
    <li class="disabled">
      <a href="javascript:void(0)" aria-label="next">
        ...
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=11" aria-label="next">
        11
      </a>
    </li>
    <li class="">
      <a href="/syuzhetno-rolevye-igry?page=2" aria-label="next">
        >
      </a>
    </li>
  </ul>
</nav>
<!-- category/pagination.html finish -->
