
<!-- prod-4-tiles.html: start -->
<li>
  <h3 class="toysname"><a href="/syuzhetno-rolevye-igry?product_id=61408">Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197</a></h3>
  <a href="/syuzhetno-rolevye-igry?product_id=61408">
    <picture>
      <img src="./prod-tile.jpg" alt="Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197" width="144" height="144">
    </picture>
  </a>
  <p class="price">Цена: <span>1 596 р.</span></p>
  <span class="addBasketContainer">
      <a href="javascript:void(0)" class="addBasket" data-product-id="61408">В корзину</a>
    </span>
</li>
<li>
  <h3 class="toysname"><a href="/syuzhetno-rolevye-igry?product_id=61408">Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197</a></h3>
  <a href="/syuzhetno-rolevye-igry?product_id=61408">
    <picture>
      <img src="./prod-tile.jpg" alt="Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197" width="144" height="144">
    </picture>
  </a>
  <p class="price">Цена: <span>1 596 р.</span></p>
  <span class="addBasketContainer">
      <a href="javascript:void(0)" class="addBasket" data-product-id="61408">В корзину</a>
    </span>
</li>
<li>
  <h3 class="toysname"><a href="/syuzhetno-rolevye-igry?product_id=61408">Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197</a></h3>
  <a href="/syuzhetno-rolevye-igry?product_id=61408">
    <picture>
      <img src="./prod-tile.jpg" alt="Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197" width="144" height="144">
    </picture>
  </a>
  <p class="price">Цена: <span>1 596 р.</span></p>
  <span class="addBasketContainer">
      <a href="javascript:void(0)" class="addBasket" data-product-id="61408">В корзину</a>
    </span>
</li>
<li class="last">
  <h3 class="toysname"><a href="/syuzhetno-rolevye-igry?product_id=61408">Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197</a></h3>
  <a href="/syuzhetno-rolevye-igry?product_id=61408">
    <picture>
      <img src="./prod-tile.jpg" alt="Игр. набор дерев., строит. кубики ГОРОД, 57 дет., Bondibon, арт. TY197" width="144" height="144">
    </picture>
  </a>
  <p class="price">Цена: <span>1 596 р.</span></p>
  <span class="addBasketContainer">
      <a href="javascript:void(0)" class="addBasket" data-product-id="61408">В корзину</a>
    </span>
</li>
<!-- prod-4-tiles.html: finish -->
