<!-- category/sorting-cntr-mob.html start -->
<div class="custom-control select">
  <div class="select__title">По популярности</div>
  <ul class="select__content">
    <li class="select__label"><a href="#one" class="select__link">По популярности</a></li>
    <li class="select__label"><a href="#two" class="select__link">Сначала дорогие</a></li>
    <li class="select__label"><a href="#three" class="select__link">Сначала недорогие</a></li>
  </ul>
</div>
<!-- category/sorting-cntr-mob.html finish -->